.DateRangeMonthContainer {
  display: flex;
}

.monthHeaderContainer {
  padding-left: 10px;
}

.yearHeaderContainer {
  padding-right: 10px;
}

.selectDiv {
  display:flex;
  position: relative;
  min-width: 50px;
}
  
.selectDiv:after {
  content: '\2304';
  font: normal normal normal 17px/1;
  color: #3d91ff;
  right: 11px;
  top: -4px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}
  
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}
  
.selectDiv select {
  -moz-appearance: none;
  width: 100%;
  height: 50px;
  float: right;
  padding: 10px 30px 10px 10px;
  font-size: 12px;
  color: #3e484f;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.DateDisplayWrapper {
  display:flex;
  background-color: rgb(239, 242, 247);
  padding: 5px;
  justify-content: space-between;
}

.DateDisplay {
  width: 100%;
  margin: 5px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
}

input {
    cursor: default;
    text-align: center;
    width: 100%;
    border: 0;
    background: transparent;
    height: 2.5em;
    line-height: 2.5em;
    color: #849095;
}

select:hover {
  background-color: #E1E7F0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.monthPickerHeaderContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.monthPickerButtonContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.monthPickerButton:hover > span{
    border-color: #555!important;
} 
.monthPickerButton:hover{ 
    cursor: pointer;
    background: #E1E7F0;
}

.monthPickerButton {
    height: 35px;
    width: 35px;
    background: #f4f4f4;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    top:50%;
    left: 50%;
}

.arrow {  
    border: solid #3d91ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
  }


